:root {
  --stack-border: 5px;
}

main {
  margin: 5vw 0;
}

#stack-section {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
}

.stack {
  margin: 4vw;

  min-width: 20vw;
  max-width: 35vw;
}

.stack li {
  padding: 1vw;
  margin: 0 1vw;

  text-align: center;

  font-size: 5vw;
  font-weight: bold;

  border-right: var(--stack-border) solid firebrick;
  border-left: var(--stack-border) solid firebrick;

  /*background-color: lightgray;*/
}

.stack li:first-child {
  border-top: var(--stack-border) solid firebrick;
}

.stack li:not(:last-child) {
  border-bottom: var(--stack-border) dashed firebrick;
}

.stack li:last-child {
  border-bottom: var(--stack-border) solid firebrick;
}

.stack .stack-item.null {
  background-color: palevioletred;
}

.stack .stack-item.pending {
  background-color: lightgray;
}

.stack .stack-item.pending:first-child {
  /*
  background-image: linear-gradient(-90deg, red, yellow);
  */
  animation: process-data 1s infinite normal;
}

.stack .stack-item.resolve {
  background-color: yellowgreen;
}

.stack .stack-item.reject {
  background-color: orangered;
}

@keyframes process-data {
  50% {
    background-color: yellowgreen;
  }
}
